One Hot Encoding or Nominal encoding is good for only categorical data having few names like red green blue

In [2]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [4]:
df=pd.DataFrame({
    'colors':['Red','Blue','Green','Green','Red','Blue']
})

In [5]:
df

  colors
0    Red
1   Blue
2  Green
3  Green
4    Red
5   Blue

In [ ]:
## creating an object
encoder=OneHotEncoder()

In [ ]:
## onehot encoder excepts two dimentional array hence we have used two[] breckets for color
encoded=encoder.fit_transform(df[['colors']]).toarray()

In [16]:
encoder_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [17]:
encoder_df

   colors_Blue  colors_Green  colors_Red
0          0.0           0.0         1.0
1          1.0           0.0         0.0
2          0.0           1.0         0.0
3          0.0           1.0         0.0
4          0.0           0.0         1.0
5          1.0           0.0         0.0

In [18]:
pd.concat([df,encoder_df],axis=1)

  colors  colors_Blue  colors_Green  colors_Red
0    Red          0.0           0.0         1.0
1   Blue          1.0           0.0         0.0
2  Green          0.0           1.0         0.0
3  Green          0.0           1.0         0.0
4    Red          0.0           0.0         1.0
5   Blue          1.0           0.0         0.0