## Techniques

1) Upsampling
2) Downsampling

## 1) Upsampling

In [51]:
## Creating a dataset

import pandas as pd
import numpy as np

np.random.seed(123)

n_samples=1000
class_0_ratio=0.9
class_0=int(n_samples*class_0_ratio)
class_1=n_samples-class_0

In [52]:
class_0,class_1

(900, 100)

In [53]:
class_0_df= pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=class_0),
    'target': [0] * class_0
})

class_1_df= pd.DataFrame({
    'feature_1': np.random.normal(loc=2,scale=1,size=class_1),
    'feature_2': np.random.normal(loc=2,scale=1,size=class_1),
    'target': [1] * class_1
})

In [54]:
df=pd.concat([class_0_df,class_1_df]).reset_index(drop=True)

In [55]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [56]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [57]:
## Upsampling

df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [ ]:
from sklearn.utils import resample
df_minority_upsampled=resample(df_minority,replace=True,
                                n_samples=len(df_majority),
                                random_state=42)

In [59]:
df_minority_upsampled.shape

(900, 3)

In [60]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1

In [74]:
df_upsampled=pd.concat([df_majority,df_minority_upsampled])

In [75]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

## Down sampling

In [76]:

df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [77]:
from sklearn.utils import resample
df_majority_upsampled=resample(df_majority,replace=True,
                                n_samples=len(df_minority),
                                random_state=42)

In [78]:
df_majority_upsampled.shape

(100, 3)

In [79]:
df_majority_upsampled.head()

     feature_1  feature_2  target
102   0.712265   0.718151       0
435   1.199988   0.574621       0
860   0.304515  -0.759475       0
270  -1.213385   0.675504       0
106   0.179549  -0.202659       0

In [80]:
df_downsampled=pd.concat([df_minority,df_majority_upsampled])

In [73]:
df_downsampled['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64