## LabelEncoding

In [15]:
import pandas as pd
df=pd.DataFrame({
    'colors':['Red','Green','Blue','Red','Blue','Green']
})

In [16]:
df

  colors
0    Red
1  Green
2   Blue
3    Red
4   Blue
5  Green

In [17]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [18]:
encoder.fit_transform(df[['colors']])

d:\DataScience\vern\lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 1, 0, 2, 0, 1])

In [ ]:
encoder.transform([['Red']]) ## Gives the label assigned in encoding

d:\DataScience\vern\lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([2])

In [ ]:
encoder.transform([['Blue']])

d:\DataScience\vern\lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([0])

In [22]:
encoder.transform([['Green']])

d:\DataScience\vern\lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([1])

## Ordinal Encoding

In [30]:
from sklearn.preprocessing import OrdinalEncoder

In [31]:
df=pd.DataFrame({
    'size':['small','large','medium','large','small','medium']
})

In [32]:
df

     size
0   small
1   large
2  medium
3   large
4   small
5  medium

In [33]:
ord_encoder=OrdinalEncoder(categories=[['small','medium','large']])

In [34]:
ord_encoder.fit_transform(df[['size']])

array([[0.],
       [2.],
       [1.],
       [2.],
       [0.],
       [1.]])

In [37]:
ord_encoder.transform([['large']])

d:\DataScience\vern\lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[2.]])