Map function

Map in a function used for iterating the function on ever item in the list and returns the data in list object. it is used to transform the data in the list comprehensively

In [3]:
numbers=[1,2,3,4,5]

def square(x):
    return x*x

sqr=list(map(square,numbers))
print(sqr)

[1, 4, 9, 16, 25]

In [5]:
## Lambda function using map

list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25]

In [7]:
## Lambda function using map an multiple lists as input

number1=[1,2,3]
number2=[4,5,6]
list(map(lambda x,y:x+y,number1,number2))

[5, 7, 9]

In [9]:
## conver string to int

str_list=['1','2','3','4']
int_list=list(map(int,str_list))
print(int_list)

[1, 2, 3, 4]

In [14]:
## map using dictionary

person=[
    {'name':'swara','age':21},
    {'name':'niraj','age':18}
]
def name(person):
    return person['name']

nm=list(map(name,person))
print(nm)

['swara', 'niraj']

In [2]:
fruits=['apple','banana','mango']

list(map(str.upper, fruits))

['APPLE', 'BANANA', 'MANGO']