Sets

Sets are the built in data type in python used to store collection of unique items. They are unordered, meaning that the elements do not follow a specific order, and they do not allow duplicate elements
Set follows the First in First out FIFO method

In [66]:
my_set={1,2,3,4,5,6}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [ ]:
a= set([1,2,3,4,5,6,5,6,7]) ## Ignoring the duplicate elementsS
print(a)
print(type(a))

{1, 2, 3, 4, 5, 6, 7}
<class 'set'>

In [32]:
## Basic set operations 
## Adding and Removing elements
a.add(7)
print(a)

{1, 2, 3, 4, 5, 6, 7}

In [33]:
a.remove(4)
print(a)

{1, 2, 3, 5, 6, 7}

In [34]:
a.remove(10)  ## Gives an error when removing the element which is not present in a set hence we can use .discard() method

KeyError: 10

In [35]:
a.discard(10)
print(a)

{1, 2, 3, 5, 6, 7}

In [36]:
a.pop()
print(a)

{2, 3, 5, 6, 7}

In [37]:
a.clear()
print(a)

set()

In [40]:
## Set membership test 
my_set
print(3 in my_set)
print(10 in my_set)

True
False

In [45]:
## Mathematical operations
set1={1,2,3,4,5,6,7}
set2={3,4,5,6,7,8,9,0}
print(set1.union(set2))
print(set1.intersection(set2))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{3, 4, 5, 6, 7}

In [46]:
print(set1)
set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [51]:
set1={1,2,3,4,5,6,7}
set2={3,4,5,6,7,8,9,0}
print(set1.difference(set2))

{1, 2}

In [52]:
print(set1)
set1.difference_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7}
{1, 2}

In [54]:
set1={1,2,3,4,5,6,7}
set2={3,4,5,6,7,8,9,0}
print(set1.symmetric_difference(set2))

{0, 1, 2, 8, 9}

In [58]:
set1={1,2,3,4}
set2={2,3,4}
print(set1.issubset(set2))
print(set1.issuperset(set2))

False
True

In [64]:
## Count the number of unique words

text="This is is my program in python"
## split it to list 
words=text.split()
print(words)

## convert list to sets
s=set(words)

count=len(s)
print(count)

['This', 'is', 'is', 'my', 'program', 'in', 'python']
6