Tuples

Tuples are ordered and immutable collections of items

In [2]:
a=()
print(type(a))

<class 'tuple'>

In [ ]:
## Creating list and tuple using functions

lst=list()
print(type(lst))
lst2=tuple()
print(type(lst2))

<class 'list'>
<class 'tuple'>

In [6]:
## Changing from list to tuple and vise versa

lst=tuple([1,2,3,4,5])
print(type(lst))
lst2=list((1,2,3,4,5))
print(type(lst2))

<class 'tuple'>
<class 'list'>

In [7]:
## concatination 

a=(1,2,3,4,5)
b=(1,'hello',1.23,True)
print(a+b)

(1, 2, 3, 4, 5, 1, 'hello', 1.23, True)

In [8]:
a*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [11]:
## Immutable nature of tuple i.e tuples cannot be chnaged

lst=[1,2,3,4]
print(lst)
lst[1]='abc'
print(lst)

[1, 2, 3, 4]
[1, 'abc', 3, 4]

In [14]:
tup=(1,2,3,4,5)
print(tup)
tup[1]='abc' ## Immutable 
print(tup)

(1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

In [20]:
## Methods used in touple

tup.count(1)

1

In [21]:
tup.index(3)

2

In [22]:
## Packing and unpacking of tuples
packed_tuple=1,'hello',1.345
print(packed_tuple)

(1, 'hello', 1.345)

In [23]:
a,b,c=packed_tuple
print(a)
print(b)
print(c)

1
hello
1.345

In [24]:
## Unpacking usin *

packed_tuple

(1, 'hello', 1.345)

In [28]:
first,*mid,last=packed_tuple
print(first)
print(mid)
print(last)

1
['hello']
1.345

In [32]:
## nested tuples and list

num=[[1,2,3],[4,5,6],[7,8,9]]
print(num[1])
print(num[0][2])

[4, 5, 6]
3

In [34]:
num=((1,2,3),(4,5,6),(7,8,9))
print(num[1])
print(num[2][1])

(4, 5, 6)
8

In [38]:
## Iterating over the tuple

for sub_item in num:
    for item in sub_item:
        print(item,end=" ")
    print()

1 2 3
4 5 6
7 8 9